*~
*.csv
!ThinkingGrid/inst/extdata/*.csv
*.gif
*__pycache__/
/invoice/*
.DS_Store
*#*#
Thinking-grid-generated-squares.png
output-survey.qsf
# Python temp files
__pycache__/
*.py[cod]
*$py.class
.vscode/
qsf_output_files/
install-test/github-token
docs
.Rproj.user
