*~
*.csv
!ThinkingGrid/inst/extdata/*.csv
*.gif
*__pycache__/
/invoice/*
.DS_Store
*#*#
Thinking-grid-generated-squares.png
output-survey.qsf
# Python temp files
__pycache__/
*.py[cod]
*$py.class
.vscode/
qsf_output_files/
install-test/github-token
docs
.Rproj.user
ThinkingGrid/..Rcheck/
ThinkingGrid/ThinkingGrid.Rcheck/
ThinkingGrid/ThinkingGrid_0.0.0.9000.tar.gz
ThinkingGrid/inst/test_data/remove_hashes.py
ThinkingGrid.Rcheck/
ThinkingGrid_0.1.0.tar.gz
